.RELEASEHOLDERDIV{
    position: relative;
    width: 90%;
    height: 90%;
    background: transparent;  
    flex-shrink: 0; 
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
    border: 1px solid teal;
}

.RELEASEIMAGE{
    position: absolute;
    width: 40%;
    height: 90%;
    object-fit: fit;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    background: transparent;
    border-radius: 20px;
}

.RELEASEDETAILSHOLDERDIV{
    position: absolute;
    background: #00000080;
    right: 1%;
    width: 50%;
    height: auto;
    bottom: 0;
    top: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0px 10px 10px 0px;
    display: block;
    border: 1px solid teal;
}

.RELEASEARTISTNAME{
    text-align: left;
    font-size: 16px;
    margin-left: 0.5rem;
    color: teal;
}