.Header{
    position: absolute;
    background: transparent;
    width: 100%;
    top: 0;
    height: 50px;
    display: inline-flex;
}
.Footer{
    position: absolute;
    background: transparent;
    width: 100%;
    bottom: 0;
    height: 50px;
    display: inline-flex;
}

.AppName{
    text-align: left;
    margin-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    color: teal;
}

.TopRight{
    margin-left: auto;
    margin-right: 1rem;
}

.MiddleIcon{
    margin-left: 1rem;
    margin-right: 5rem;
}

.HomeDiv{
    position: absolute;
    background: transparent;
    width: 100%;
    height: auto;
    top: 50px;
    bottom: 50px;
    overflow-y: auto;
    overflow-x: hidden;
}

.StoriesDiv{
    position: relative;
    background: #00000080;
    width: 100%;
    height: 30%;
    overflow-x: auto;
    overflow-y: hidden;
    display: inline-flex;
}